/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: royalblue;
    text-transform: uppercase;
}

/* Common */

.author {
    text-align: right;
    font-style: italic;
    font-size: 16px;
    color: royalblue;
}

